.btn {
    margin-top: 1rem;
    background-color: #024e7a;
    color: #fff;
    border: none;
    border-radius: 0;
    //font-family: $font-display;
    font-size: 1.5rem;
    //text-transform: uppercase;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all .2s;
    align-self: flex-start;

    &:hover {
        background-color: #208ac7;
    }
}