.pastors {
    padding: 2rem 2.5rem;
    background-color: #fff;
}

.pastor {
    font-size: 3rem;
    font-weight: 200;

    span {
        color: #208ac7;
    }

    &::after {
        content: "";
        height: 1px;
        background-color: #ccc;
        display: block;
        margin-bottom: 1.5rem;
    }

    &__list {
        
        &-name {
            font-size: 1.5rem;
            font-weight: 400;
            color: #208ac7;
            margin-top: 1rem;
            margin-bottom: .5rem;
        }

        span {
            font-size: 1rem;
        }

        &::after {
            content: "";
            height: 1px;
            background-color: #ccc;
            display: block;
            margin-bottom: 1.5rem;
            margin-top: 1.5rem;
        }
    }

}