.welcome {
    background-color: #fff;
    box-shadow: 0 2rem 5rem rgba(0,0,0,.06);
    padding: 2rem 3rem;
    margin-bottom: 3rem;


    &__title {
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: -1rem;
    }

    &__name {
        font-size: 2.5rem;
        font-weight: 300;
        color: #208ac7;

        &::after {
            content: "";
            height: 1px;
            background-color: #aaa;
            display: block;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }
    }

    &__note {
        color: #208ac7;
        font-size: 1.4rem;
        
    }

    &__body {
        color: #333;
        font-weight: 200;
        margin-top: 1.5rem;
    }

    &__remarks {
        font-weight: 300;
        line-height: 1;
        margin-bottom: 2rem;
    }
}

